<h1>Browse Exercises</h1>
<form method="POST" action="/browser">
	
	{{#each exercises}}
		<div>
		<label class="checkbox-inline">
	  		<input type="checkbox" name="{{name}}" value="on"> {{name}}
		</label>
		
		{{muscles}}
		{{equipment}}
		</div>
	{{/each}}
	<button> Create Excercise </button>
</form>