{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}
<form method="POST" style="max-width: 100%; margin: auto; margin-top: 50px; padding: 30px 30px 30px 30px; height: 26vh;">
  <div class="form-group">
    <label style="font-size: 40px">Username</label>
    <input type="text" name="username" class="form-control" style="height: 5vh; font-size:40px">
  </div>
  <div class="form-group">
    <label style="font-size: 40px">Password</label>
    <input type="password" name="password" class="form-control" style="height: 5vh; font-size:40px">
  </div>
  <div class="form-group" style="display: flex; flex-direction: column; height: 40vh">
    <button class="btn btn-success" style="margin-top: 40px; height: 90%; font-size: 50px;">Log in</button>
    <a href='/login/facebook' class="btn btn-primary" style="margin-top: 40px; height: 70%;
  font-size: 50px; padding-top: 8%">Log in with Facebook</a>
    <a class="btn btn-info" href="/register" style="margin-top: 40px; height: 70%;
  font-size: 50px; padding-top: 8%;">Register</a>
  </div>
</form>