{{#if error}}
<div class="container">
  <div class="alert alert-danger" role="alert">
    {{error.username}}
    {{error.password}}
    {{error.passwordr}}
  </div>
</div>
{{/if}}
<div class="container">
  <form method="POST" style="max-width: 100%; margin: auto; margin-top: 50px; padding: 30px 30px 30px 30px; height: 23vh;">
   <div class="form-group">
      <label class="user-form">Username</label>
      <input type="text" name="username" class="form-control" style="height: 5vh; font-size:40px">
    </div>
    <div class="form-group">
      <label class="user-form">Password</label>
      <input type="password" name="password" class="form-control" style="height: 5vh; font-size:40px">
    </div>
    <div class="form-group">
      <label class="user-form">Verify Password</label>
      <input type="password" name="passwordRepeat" class="form-control" style="height: 5vh; font-size:40px">
    </div>
    <div class="form-group" style="display: flex; flex-direction: column">
      <button id='submit' class="button" style="background: transparent">
        <span class="btn-text">Register</span>
      </button>
    </div>
  </form>
</div>
