<div>
  <h1 class="table-title">Your Personal Workout</h1>
  <table class="table-wrap">
    <tr>
      <th class="th-head">Name</th>
      <th class="th-head">Muscles</th>
      <th class="th-head">Equipment</th>
    </tr>
    {{#each workout}}
    	<tr>
      	<td>{{name}}</td>
      	<td>{{muscles}}</td>
      	<td>{{equipment}}</td>
      </tr>
    {{/each}}
  </table>
</div>
