@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*** basic styles ***/

label { font-size: 24px; }
.checkbox {
  width: 175px;
  margin-left: 20px;
}

/*** custom checkboxes ***/

.check1 { display:none; } /* to hide the checkbox itself */
.check1 + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.check1 + label:before { content: "\f096"; } /* unchecked icon */
.check1 + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.check1:checked + label:before { content: "\f046"; } /* checked icon */
.check1:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input:focus,
input.focus {
  border-bottom: solid 2px #969696;
}
.site-header {
  height: 20vh;
  background: red;
}
.profile-view {
  min-width: 60vh;
}
.exercise-image {
  max-height: 100px;
  max-width: 100px;
}
.form-group {
  margin: 10px;
}
.user-form {
  font-size: 30px;
  padding-right: 15px;
}
.list-head {
  text-align: left;
  font-size: 24px;
  padding-right: 10px;
}
.myButton {
  margin: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 76px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
.table-wrap {
  margin: 20px;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}
.table-title {
  margin: 20px;
  font-family: 'Lato', sans-serif;
}
.th-head {
  text-align: left;
  padding-right: 30px;
}
.muscle-groups {
  position: relative;
  background: #eee;
  width: 380px;
  padding: .5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 0.75rem solid #00BCD4;
}
.muscle-groups h1 {
  margin: -.5rem -1rem 1rem;
  padding: 0 1rem .75rem;
  background: #00BCD4;
  color: #eee;
  text-align: center;
  font-size: 1.25rem;
}
.muscle-groups h2 {
  margin: 0 0 .5rem;
  font-size: .8rem;
  letter-spacing: -.03em;
  text-transform: uppercase;
}
.muscle-groups label + h2 {
  margin-top: 1rem;
}
.muscle-groups label {
  width: 50px;
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
  font-size: .7rem;
  opacity: .5;
  position: relative;
  z-index: 200;
  border-left: 5px solid transparent;
  padding-left: 6px;
  margin-left: -11px;
}
.muscle-groups label:hover, .muscle-groups label.hover {
  opacity: 1;
  border-color: rgba(51, 51, 51, 0.75);
}
.muscle-groups input:checked + label {
  opacity: 1;
  font-weight: bold;
  color: #00BCD4;
}
.muscle-groups svg {
  position: absolute;
  right: -1.5rem;
  bottom: 3rem;
  height: 350px;
  z-index: 100;
}
.muscle-groups svg g[id] path {
  opacity: .2;
  transition: opacity .25s ease-in-out;
}
.muscle-groups svg g g[id]:hover path {
  cursor: pointer;
  opacity: .5;
  fill: #00BCD4 !important;
}
.muscle-groups .muscles-helper {
  display: none;
}
.muscle-groups label[for="obliques"]:hover ~ svg #Obliques path {
  opacity: .75;
}
.muscle-groups .obliques:checked ~ svg #Obliques path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="abs"]:hover ~ svg #Abs path {
  opacity: .75;
}
.muscle-groups .abs:checked ~ svg #Abs path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="quads"]:hover ~ svg #Quads path {
  opacity: .75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="biceps"]:hover ~ svg #Biceps path {
  opacity: .75;
}
.muscle-groups .biceps:checked ~ svg #Biceps path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="adductors"]:hover ~ svg #Adductors path {
  opacity: .75;
}
.muscle-groups .adductors:checked ~ svg #Adductors path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="pectorals"]:hover ~ svg #Pectorals path {
  opacity: .75;
}
.muscle-groups .pectorals:checked ~ svg #Pectorals path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="deltoids"]:hover ~ svg #Deltoids path {
  opacity: .75;
}
.muscle-groups .deltoids:checked ~ svg #Deltoids path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="hamstrings"]:hover ~ svg #Hamstrings path {
  opacity: .75;
}
.muscle-groups .hamstrings:checked ~ svg #Hamstrings path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="quads"]:hover ~ svg #Quads path {
  opacity: .75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="forearms"]:hover ~ svg #Forearms path {
  opacity: .75;
}
.muscle-groups .forearms:checked ~ svg #Forearms path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="calves"]:hover ~ svg #Calves path {
  opacity: .75;
}
.muscle-groups .calves:checked ~ svg #Calves path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="triceps"]:hover ~ svg #Triceps path {
  opacity: .75;
}
.muscle-groups .triceps:checked ~ svg #Triceps path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="glutes"]:hover ~ svg #Glutes path {
  opacity: .75;
}
.muscle-groups .glutes:checked ~ svg #Glutes path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="lats"]:hover ~ svg #Lats path {
  opacity: .75;
}
.muscle-groups .lats:checked ~ svg #Lats path {
  opacity: .8;
  fill: #00BCD4 !important;
}
.muscle-groups label[for="trapezius"]:hover ~ svg #Trapezius path {
  opacity: .75;
}
.muscle-groups .trapezius:checked ~ svg #Trapezius path {
  opacity: .8;
  fill: #00BCD4 !important;
}

html {
  background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  /*color: #f7f7f7;*/
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 300;
  font-family: Roboto;
  min-height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
main .info {
  font-size: .8rem;
  display: block;
  width: 250px;
  padding-top: 200px;
  color: #eee;
  padding-left: 2rem;
  opacity: .5;
}
main .info:hover {
  opacity: 1;
}
main .info a {
  color: #eee;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  background: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}
a {
  text-decoration: none
}
.btn-text{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
